VITE_SUPABASE_URL=https://muswrhvsbjfsyoheslel.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11c3dyaHZzYmpmc3lvaGVzbGVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MzYwODksImV4cCI6MjA5MjUxMjA4OX0.g6RBDivTI548_DRupIXr0q8gyVL7N8kED21acSHT19M